@import "compass";
@import '../base.scss';

.buttonWrapper {
	top: 78%; }

nav {
	&#mainNav {
		#menuWrapper {
			height: auto;
			padding: 150px 0 25em;
			@include breakheight(tiny) {
				padding-bottom: 30em; }
			@include breakpoint(smallTablet) {
				padding-top: 15em; }
			@include breakpoint(desktop) {
				padding-top: 20em; } } } }

#splash {
	min-height: 100em; }

#homeSections {
	section {
		.bannerWrapper {
			height: 40em;
			.imgWrapper {
				img {
				    height: 40em; } }
			@include breakpoint(smallTablet) {
				height: 50em; } } } }