# Use PHP5.4 as default
AddHandler application/x-httpd-php54 .php

Header set Access-Control-Allow-Origin "*"

Options +FollowSymLinks

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !index
RewriteRule (.*) index.html [L]

RewriteBase /
# RewriteCond %{HTTP_HOST} !^new.zagollc.com$ [NC]
# RewriteRule ^(.*)$ new.zagollc.com/$1 [L,R=301]
RewriteCond %{HTTP_HOST} !^localhost:8888$ [NC]
RewriteRule ^(.*)$ localhost:8888/$1 [L,R=301]