<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <base href="/" > <!-- Allows for Angular deep-linking -->
    <link rel="icon" type="image/png" href="images/favicon.ico">
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/enhance.js"></script> <!-- Custom javaScript prototype functions -->
    <script src="js/polyfills.js"></script> <!-- shims for legacy browsers -->
    <script src="js/modernizr.js"></script> <!-- Library to test and detect browser compatability -->
    <script src="js/mobile-detect.min.js"></script> <!-- library to detect whether "true" mobile/touch device -->
    <script src="js/mobile-detect-modernizr.js"></script> <!-- modernizr & mobile-detect integration -->
    <script src="js/modernizr-script.js"></script> <!-- Custom modernizr code logic -->
    <script type="text/javascript" src="js/overthrow.min.js"></script> <!-- Mobile touch scrolling plugin -->
    <script src="js/jquery-1.8.3.min.js"></script>
    <!-- Application Files -->
    <script src="js/angular.min.js"></script>
    <script src="js/angular-ui-router.min.js"></script>
    <script src="js/angular-sanitize.min.js"></script>
    <script src="js/angular-scroll.min.js"></script> 
    <script src="js/main.js"></script> <!-- Angular Application -->
    <script src="js/templates.js"></script> <!-- Template caching -->
</head>

<body id="body" ng-controller="AppCtrl">
    <div id="container" ng-class="{pageLoading:isLoading || isRouting}">

        <img id="siteID" class="siteID" alt="Zago LLC Logo" src="images/zago_logo.png" ng-click="route('home', true)">

        <nav id="mainNav" class="overthrow" ng-controller="HeaderCtrl">
            <div id="menuWrapper">
                <div id="menu">
                    <ul>
                        <li> <a ng-click="route('home')" title="Home">Zago</a> </li>
                        <li> <a ng-click="route('projects')" title="Zago Projects">Projects</a> </li>
                        <li> <a ng-click="route('team')" title="Meet Z Team">Team</a> </li>
                        <li> <a ng-click="route('love')" title="Blog Love">Love</a> </li>
                    </ul>
                </div>
                <div class="menuContacts" office-list></div>
            </div>
        </nav>

        <div class="buttonWrapper">
            <p id="menuPrompt">Click for<br>Menu</p>
            <button id="menuButton" type="button" ng-click="toggleMenu()"></button>
        </div>

        <button id="scrollTop" type="button" ng-click="scrollTop()"></button>

        <div id="pageContent" class="{{pageView}}" ui-view autoscroll="true"><!-- Angular Partials go here --></div>

        <footer  id="footer">
            <div office-list></div>
            <section class="intern">
                <p>We take interns in NYC for
                3 to 6 month engagements.<br>Inquire at </p>
                <a href="mailto:intern@zagollc.com">intern@zagollc.com</a>
            </section>
            <section class="social" social-buttons></section>
        </footer>

        <div id="splash" class="overthrow" ng-if="showSplash">
            <img class="siteID" alt="Zago LLC Logo" src="images/zago_logo.png">
            <h1>Zago</h1>
            <div class="menuContacts splashpage" office-list></div>
            <button type="button" ng-click="hideSplash()">Full Site</button> 
        </div>

        <div id="cssTest">
            <p class="cssvwunit">No vw units</p>

            <p class="mobilegradea">No mobile grade a</p>

            <p class="overthrow-enabled">No overthrow-enabled</p>
            <p class="cssvhunit">No vh units</p>
            <p class="localstorage">No localStorage</p>
        </div>

    </div>
    <div id="loader">
        <div class="beaconWrapper">
            <div class="beacon"></div>
        </div>
    </div> 
    <script src="http://localhost:35729/livereload.js"></script> 
    <!--[if lt IE 9]>
        <script type="text/javascript" src="js/unsupported.js"></script>
    <![endif]-->
</body>
</html>
