<!DOCTYPE html>
<html lang="en" xml:lang="en" ng-app="app">
<head>
    <!-- *** Google Chrome mis-autotranslate fix *** -->
    <meta charset="UTF-8" />
    <meta name="google" content="notranslate">
    <meta http-equiv="Content-Language" content="en_US">
    <!-- ******************************************* -->
    <base href="/" > <!-- Allows for Angular deep-linking -->
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Zago | Under Construction</title>
    <link rel="icon" type="image/png" href="images/favicon.ico">
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/lib/enhance.js"></script> <!-- Custom javaScript prototype functions -->
    <script src="js/lib/polyfills.js"></script> <!-- shims for legacy browsers -->
    <script src="js/lib/modernizr.js"></script> <!-- Library to test and detect browser compatability -->
    <script src="js/lib/mobile-detect.min.js"></script> <!-- library to detect whether "true" mobile/touch device -->
    <script src="js/lib/mobile-detect-modernizr.js"></script> <!-- modernizr & mobile-detect integration -->
    <script src="js/lib/modernizr-script.js"></script> <!-- Custom modernizr code logic -->
    <script type="text/javascript" src="js/lib/overthrow.min.js"></script> <!-- Mobile touch scrolling plugin -->
    <script src="js/lib/jquery-1.8.3.min.js"></script>
    <!-- Application Files -->
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-ui-router.min.js"></script>
    <script src="js/lib/angular-sanitize.min.js"></script>
    <script src="js/lib/angular-scroll.min.js"></script>

    <script src="js/main.js"></script> <!-- Angular Application -->
    <script src="js/templates.js"></script> <!-- Template caching -->

    <script src="js/services/Storage.js"></script>
    <script src="js/services/SiteLoader.js"></script>
    <script src="js/services/Styling.js"></script>
    <script src="js/services/Preloader.js"></script>
    <script src="js/services/Functions.js"></script>

    <script src="js/directives/grid.js"></script>
    <script src="js/directives/officeList.js"></script>
    <script src="js/directives/socialButtons.js"></script>
    <script src="js/directives/homeSections.js"></script>
    <script src="js/directives/underZ.js"></script>
    <script src="js/directives/projectNav.js"></script>
    <script src="js/directives/precisionImage.js"></script>
    <script src="js/directives/imageLoader.js"></script>
    <script src="js/directives/rotateImages.js"></script>

    <script src="js/controllers/AppCtrl.js"></script>
    <script src="js/controllers/HomeCtrl.js"></script>
    <script src="js/controllers/ProjectsCtrl.js"></script>
    <script src="js/controllers/ProjectDetailCtrl.js"></script>
    <script src="js/controllers/TeamCtrl.js"></script>
    <script src="js/controllers/LoveCtrl.js"></script>
    <script src="js/controllers/ErrorCtrl.js"></script>
    <script src="js/controllers/LegacyCtrl.js"></script>

</head>

<body id="body" ng-controller="AppCtrl">
    <!-- @BUG {pageLoading:isLoading || isRouting} controls the page view sliding offscreen to the right -->
    <!-- It works, but its very buggy. Basically CSS animates the page in/out based on Angular value -->
    <div id="container">

        <img id="siteID" class="siteID" alt="Zago LLC Logo" src="images/zago_logo.png" ng-click="route('home', true)">

        <nav id="mainNav" class="overthrow">
            <div id="menuWrapper">
                <div id="menu">
                    <ul>
                        <li> <a ng-click="route('home')" title="Home">Zago</a> </li>
                        <li> <a ng-click="route('projects')" title="Zago Projects">Projects</a> </li>
                        <li> <a ng-click="route('team')" title="Meet Z Team">Team</a> </li>
                        <li> <a href="http://zagolovesyou.tumblr.com/" ng-click="toggleMenu(true)" target="_blank" title="Blog Love">Love</a> </li>
                    </ul>
                </div>
                <div class="menuContacts" office-list></div>
            </div>
        </nav>

        <div class="buttonWrapper">
            <p id="menuPrompt">Click for<br>Menu</p>
            <button id="menuButton" type="button" ng-click="toggleMenu()"></button>
        </div>

        <button id="scrollTop" type="button" ng-click="scrollTop()"></button>

        <div id="pageContent" class="{{pageView}}" ui-view autoscroll="true"><!-- Angular Partials go here --></div>

        <footer id="footer" ng-class="{homePage: pageView == 'homePage', lovePage: pageView == 'lovePage'}">
            <section class="collaboration">
                <p>Let's work together. Come have coffee & say ciao.</p>
                <p><a href="mailto:info@zagollc.com">info@zagollc.com</a>.</p>
            </section>
            <section class="intern">
                <p>We take interns in NYC for
                3 to 6 month engagements.<br>Inquire at </p>
                <a href="mailto:intern@zagollc.com">intern@zagollc.com</a>
            </section>
            <div office-list></div>
            <section class="social" social-buttons></section>
        </footer>

        <!-- <div id="splash" class="overthrow" ng-if="showSplash">
            <img class="siteID" alt="Zago LLC Logo" src="images/zago_logo.png">
            <h1>Zago</h1>
            <div class="menuContacts splashpage" office-list></div>
            <button type="button" ng-click="hideSplash()">Full Site</button> 
        </div> -->

        <!-- <div id="cssTest">
            <p class="cssvwunit">No vw units</p>

            <p class="mobilegradea">No mobile grade a</p>

            <p class="overthrow-enabled">No overthrow-enabled</p>
            <p class="cssvhunit">No vh units</p>
            <p class="localstorage">No localStorage</p>
        </div> -->

    </div>

    <script src="http://localhost:35729/livereload.js"></script> 
    <!-- redirect to legacy browser unsupported message -->
    <!--[if lt IE 9]> <script type="text/javascript" src="js/unsupported.js"></script> <![endif]-->
</body>
</html>
